@import url('https://webfontworld.github.io/amore/AritaDotum.css');
@import url('https://webfontworld.github.io/nixgon/NixgonFonts.css');

html {  
  background-color: #0a1118;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  font-family: "AritaDotum",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
